<div class="contact-details-container">
  <div class="contact-section">
    <div class="heading">
      <h1>Let's Connect!</h1>
    </div>
    <div class="contact-content">
      <div class="message-form">
        <h3 class="form-title">Message Me</h3>
        <div class="input-fields">
          <div class="name-email-fields">
            <input type="text" placeholder="Name" class="input-name" />
            <input type="email" placeholder="Email" class="input-email" />
          </div>
          <div class="message-field">
            <textarea
              name=""
              id=""
              placeholder="Message"
              class="textarea-message"
            ></textarea>
          </div>
          <div class="send-btn">
            <p>Send Message</p>
          </div>
        </div>
      </div>
      <div class="contact-info">
        <div class="contact-info-container">
          <h3 class="info-title">Contact</h3>
          <div class="email-phone-info">
            <div>
              <i class="fa-solid fa-envelope icon"></i
              ><span>subhrangsubera&#64;gmail.com</span>
            </div>
            <div>
              <i class="fa-solid fa-phone icon"></i><span>+90 8768595263</span>
            </div>
          </div>
        </div>
        <div class="social-info-container">
          <h3 class="info-title">Social Media</h3>
          <div class="social-links">
            <a href="https://github.com/Subhrangsu90" target="_blank">
              <i class="fa-brands fa-github icon"></i>
              <span>GitHub</span>
            </a>
            <a href="https://twitter.com/SubhrangsuBera" target="_blank">
              <i class="fa-brands fa-twitter icon"></i>
              <span>Twitter</span>
            </a>
            <a
              href="https://www.linkedin.com/in/subhrangsu-bera/"
              target="_blank"
            >
              <i class="fa-brands fa-linkedin icon"></i>
              <span>LinkedIn</span>
            </a>
            <a href="https://www.instagram.com/subhrangsubera/" target="_blank">
              <i class="fa-brands fa-instagram icon"></i>
              <span>Instagram</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <footer></footer>
    </div>
  </div>
</div>
