.contact-details-container {
  height: 100vh;
}

.contact-section {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  padding: 3rem 2rem 0;
}

.heading {
  padding: 2rem 0;
  color: var(--sp-light-90);
}

h1 {
  letter-spacing: 1pt;
  font-size: 32pt;
  font-weight: 500;
  margin-bottom: 1rem;
}

.contact-content {
  padding: 2rem 0;
  display: flex;
  gap: 3rem;
}

.message-form {
  flex: 1;
}

.form-title,
.info-title {
  color: var(--sp-light-90);
  padding: 1rem 0;
  font-weight: 500;
  font-size: 1.1em;
}
.input-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.name-email-fields {
  display: flex;
  gap: 1rem;
}

.input-name,
.input-email,
.textarea-message {
  width: 100%;
  border: none;
  padding: 0.75rem;
  background-color: var(--sp-dark-10);
  border-radius: 12px;
  font-size: 16px;
  color: var(--sp-light-90);
}

.textarea-message {
  width: -webkit-fill-available;
  height: 11rem;
}

.input-name:focus,
.input-email:focus,
.textarea-message:focus {
  border-color: var(--sp-primary);
  outline: none;
}
.send-btn {
  display: flex;
  justify-content: center;
  background-color: var(--sp-green-60);
  padding: 0.8rem;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.send-btn:hover {
  opacity: 0.8;
}

.send-btn p {
  font-size: 12pt;
  text-wrap: nowrap;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.email-phone-info,
.social-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: transform 0.3s ease;

  padding: 0.5rem 0;
  color: var(--sp-light-60);
}
.email-phone-info .icon,
.social-links .icon {
  width: 16px;
  transition: transform 0.3s ease;
  font-size: 11pt;
  line-height: 12px;
}
.email-phone-info div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.email-phone-info span,
.social-links span {
  margin-left: 1rem;
  font-size: 12pt;
}
.email-phone-info div:hover,
.social-links a:hover {
  color: var(--sp-green-60);
}

.email-phone-info div:hover .icon,
.social-links a:hover .icon {
  transform: scale(1.5);
}

.footer {
  padding: 1rem 0;
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.heading,
.contact-content {
  animation: slideInFromBottom 1s ease-out;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .contact-content {
    flex-direction: column-reverse;
  }
  .contact-info {
    flex: 0 0 auto;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
    order: 0;
    width: 100%;
  }
  .contact-info-container,
  .social-info-container {
    flex: 1 0 0px;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .contact-content {
    flex-direction: column-reverse;
  }
  .contact-info {
    flex: 0 0 auto;
    align-items: flex-start;
    gap: 1.5rem;
    order: 0;
    width: 100%;
  }
  .contact-info-container,
  .social-info-container {
    flex: 1 0 0px;
    width: 100%;
  }
}
