.about-container {
  height: 100vh;
}

.about {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 3rem 2rem 0;
}

.heading {
  margin: 2rem 0;
  color: var(--sp-light-90);
}
h1 {
  letter-spacing: 1pt;
  font-size: 32pt;
  font-weight: 500;
  margin-bottom: 2rem;
}

p {
  color: var(--sp-light-60);
  font-size: 12pt;
  line-height: 1.1rem;
}

.location-about-btn {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}

.addr {
  display: contents;
}
.line {
  flex-grow: 1;
  height: 1px;
  background-image: linear-gradient(
    to right,
    var(--sp-light-60) 50%,
    transparent 50%
  );
  background-size: 6px 2px;
}

.text {
  text-align: center;
  color: var(--sp-light-60);
  margin: 0 1.5rem 0 0;
  font-size: 11pt;
  font-weight: 300;
}

.text .icon {
  color: var(--sp-green-60);
  margin-right: 0.2rem;
}

.education {
  padding: 2rem 0;
}

.title {
  color: var(--sp-light-90);
  padding: 2rem 0;
  font-weight: 500;
  font-size: 1.1em;
}

.deg {
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.deg-name {
  color: var(--sp-light-90);
  font-size: 18px;
  font-weight: bold;
}

.deg-from {
  color: var(--sp-light-60);
  font-size: 16px;
  margin-top: 0.5rem;
}

.deg-details {
  color: var(--sp-light-60);
  font-size: 16px;
  /* margin-top: 5px; */
}

/* ============== Stack ====================== */

@keyframes slideInFromBottom {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.heading,
.education,
.stack,
.experience,
.certification {
  animation: slideInFromBottom 1s ease-out;
}

.footer {
  padding: 2.5rem 0;
}
