<div class="about-container">
  <div class="about">
    <div class="heading">
      <h1>Get To Know Me</h1>
      <p>
        Hello, I'm Subhrangsu, and I'm more than just a web developer; I'm a
        digital storyteller. I have always been captivated by the art of web
        design, and my journey in this field has been nothing short of
        exhilarating. My goal is to craft websites that not only look beautiful
        but also function seamlessly, providing an exceptional user experience.
      </p>
      <div class="location-about-btn">
        <div class="addr">
          <p class="text">
            <i class="fa-solid fa-location-dot icon"></i> West Bengal, India
          </p>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="education">
      <h2 class="title">Education</h2>
      <div
        *ngFor="let qualification of qualifications; let last = last"
        class="deg"
      >
        <div class="deg-cont">
          <div>
            <h3 class="deg-name">
              <i class="fa-solid fa-graduation-cap"></i>
              {{ qualification.degree }} in {{ qualification.field }}
            </h3>
            <p class="deg-from">{{ qualification.institution }}</p>
          </div>
          <div class="marks-year">
            <p
              *ngIf="qualification.cgpa || qualification.percentage"
              class="deg-details"
            >
              <span *ngIf="qualification.cgpa"
                >CGPA: {{ qualification.cgpa }}</span
              >
              <span *ngIf="qualification.cgpa && qualification.percentage">
                |
              </span>
              <span *ngIf="qualification.percentage"
                >Percentage: {{ qualification.percentage }}</span
              >
            </p>
            <p class="deg-details">
              Passing Year: {{ qualification.passingYear }}
            </p>
          </div>
        </div>
        <hr *ngIf="!last" class="vertical-line" />
      </div>
      <div class="location-about-btn">
        <div class="line"></div>
      </div>
    </div>
    <div class="stack">
      <h2 class="title">Stack</h2>
      <div class="stack">
        <p>
          My technical toolkit includes proficiency in Framer, Figma, HTML, CSS,
          JavaScript, and various design software like Adobe Creative Suite. I'm
          also well-versed in responsive web design, ensuring that websites I
          create look and function flawlessly across all devices.
        </p>
      </div>
      <div class="location-about-btn">
        <div class="line s-line"></div>
        <button class="more-about-me" (click)="navigateToStack()">
          <span>View All Stack</span>
          <i class="fa-solid fa-arrow-right-long icon"></i>
        </button>
      </div>
    </div>

    <div class="experience">
      <h2 class="title">Experience</h2>
      <div class="exp-cont">
        <div class="exp-item">
          <div class="exp-details">
            <h3 class="exp-name">
              <i class="fa-solid fa-briefcase"></i>
              Senior Software Engineer
            </h3>
            <p class="exp-company">XYZ Corporation</p>
            <p class="exp-duration">Feb 2020 - Present</p>
          </div>
          <div class="exp-desc">
            <ul>
              <li>
                Designed and implemented a new feature for the company's
                flagship product.
              </li>
              <li>
                Collaborated with cross-functional teams to ensure seamless
                integration and user experience.
              </li>
              <li>
                Optimized performance and reduced latency by implementing
                efficient algorithms and data structures.
              </li>
            </ul>
          </div>
        </div>
        <div class="exp-item">
          <div class="exp-details">
            <h3 class="exp-name">
              <i class="fa-solid fa-briefcase"></i>
              Junior Software Developer
            </h3>
            <p class="exp-company">ABC Inc.</p>
            <p class="exp-duration">June 2018 - Feb 2020</p>
          </div>
          <div class="exp-desc">
            <ul>
              <li>
                Developed and maintained various web applications using HTML,
                CSS, and JavaScript.
              </li>
              <li>
                Collaborated with a team to implement new features and fix bugs
                in existing applications.
              </li>
              <li>
                Participated in code reviews and provided feedback to improve
                code quality and maintainability.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="certification">
      <h2 class="title">Certification</h2>
      <div class="cert-cont">
        <div class="cert-item">
          <div class="cert-details">
            <h3 class="cert-name">
              <i class="fa-solid fa-certificate"></i>
              Certified ScrumMaster (CSM)
            </h3>
            <p class="cert-org">Scrum Alliance</p>
            <p class="cert-year">2022</p>
          </div>
          <div class="cert-desc">
            <p>
              The Certified ScrumMaster (CSM) certification is awarded to
              individuals who have demonstrated a deep understanding of the
              Scrum framework and its principles.
            </p>
          </div>
        </div>
        <!-- Add more certification items as needed -->
      </div>

      <div class="contact-us">
        <contact-us></contact-us>
      </div>
      <div class="footer">
        <footer></footer>
      </div>
    </div>
  </div>
</div>
