<div class="home-container">
  <div class="home">
    <h1>Home</h1>
    <div class="dummy-div">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
        Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
        sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius
        a, semper congue, euismod non, mi.
      </p>
    </div>

    <div class="dummy-div">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
        Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
        sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius
        a, semper congue, euismod non, mi.
      </p>
    </div>

    <div class="dummy-div">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
        Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
        sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius
        a, semper congue, euismod non, mi.
      </p>
    </div>

    <div class="dummy-div">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
        Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
        sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius
        a, semper congue, euismod non, mi.
      </p>
    </div>

    <div class="dummy-div">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
        Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
        sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius
        a, semper congue, euismod non, mi.
      </p>
    </div>
    <div class="dummy-div">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit nesciunt
        rem, magni voluptas voluptatibus eius voluptatum officiis voluptatem
        repellendus delectus maxime cupiditate esse similique consequuntur
        mollitia nisi quis minus? Ipsum.
      </p>
    </div>
    <div class="dummy-div">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit nesciunt
        rem, magni voluptas voluptatibus eius voluptatum officiis voluptatem
        repellendus delectus maxime cupiditate esse similique consequuntur
        mollitia nisi quis minus? Ipsum.
      </p>
    </div>
    <div class="dummy-div">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit nesciunt
        rem, magni voluptas voluptatibus eius voluptatum officiis voluptatem
        repellendus delectus maxime cupiditate esse similique consequuntur
        mollitia nisi quis minus? Ipsum.
      </p>
    </div>
    <div class="dummy-div">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit nesciunt
        rem, magni voluptas voluptatibus eius voluptatum officiis voluptatem
        repellendus delectus maxime cupiditate esse similique consequuntur
        mollitia nisi quis minus? Ipsum.
      </p>
    </div>
    <div class="dummy-div">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit nesciunt
        rem, magni voluptas voluptatibus eius voluptatum officiis voluptatem
        repellendus delectus maxime cupiditate esse similique consequuntur
        mollitia nisi quis minus? Ipsum.
      </p>
    </div>
    <div class="dummy-div">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit nesciunt
        rem, magni voluptas voluptatibus eius voluptatum officiis voluptatem
        repellendus delectus maxime cupiditate esse similique consequuntur
        mollitia nisi quis minus? Ipsum.
      </p>
    </div>
    <div class="dummy-div">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit nesciunt
        rem, magni voluptas voluptatibus eius voluptatum officiis voluptatem
        repellendus delectus maxime cupiditate esse similique consequuntur
        mollitia nisi quis minus? Ipsum.
      </p>
    </div>
    <div class="dummy-div">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit nesciunt
        rem, magni voluptas voluptatibus eius voluptatum officiis voluptatem
        repellendus delectus maxime cupiditate esse similique consequuntur
        mollitia nisi quis minus? Ipsum.
      </p>
    </div>
    <div class="dummy-div">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit nesciunt
        rem, magni voluptas voluptatibus eius voluptatum officiis voluptatem
        repellendus delectus maxime cupiditate esse similique consequuntur
        mollitia nisi quis minus? Ipsum.
      </p>
    </div>
    <div class="dummy-div">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit nesciunt
        rem, magni voluptas voluptatibus eius voluptatum officiis voluptatem
        repellendus delectus maxime cupiditate esse similique consequuntur
        mollitia nisi quis minus? Ipsum.
      </p>
    </div>
  </div>
</div>
