.home-container {
  /* display: grid; */
  grid-template-columns: auto 1fr;
  grid-template-areas: "Sidebar Home";
  height: 100vh;
}

.home {
  grid-area: Home;
  overflow-y: auto;
  padding: 2rem 2rem 0;
}

h1,
p {
  color: var(--sp-green-60);
}

.dummy-div {
  margin-bottom: 20px;
}

/* @media only screen and (min-width: 810px) and (max-width: 1199px) {
  .navbar {
    width: 15rem;
  }
} */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    width: 10rem;
  }

  .home {
    margin-left: 10rem;
  }
}
