.main-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "Sidebar Main";
  height: 100vh;
}

.navbar {
  grid-area: Sidebar;
  border-right: 0.0009rem solid #272727;
  width: 14rem;
  overflow-y: hidden;
}

.main {
  grid-area: Main;
  overflow-y: auto;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    width: 10rem;
  }
}
