<div class="project-card">
  <div class="project-img">
    <img [src]="project.imageUrl" alt="{{ project.title }}" />
    <!-- Bind project image URL -->
  </div>
  <div class="project-summary">
    <div class="project-title-category">
      <p class="category">{{ project.category }}</p>
      <!-- Bind project category -->
      <h3 class="title">{{ project.title }}</h3>
      <!-- Bind project title -->
    </div>
    <div class="details-arrow">
      <i class="fa-solid fa-arrow-right-long icon"></i>
      <i class="fa-solid fa-arrow-right-long icon"></i>
      <i class="fa-solid fa-arrow-right-long icon"></i>
    </div>
  </div>
</div>
