<div class="project-card">
  <div class="project-img">
    <img src="../../../assets/images/CSSUnits.png" alt="" />
  </div>
  <div class="project-summary">
    <div class="project-title-category">
      <p class="category">Web Development</p>
      <h3 class="title">Awesome Project</h3>
    </div>
    <div class="details-arrow">
      <i class="fa-solid fa-arrow-right-long icon"></i>
      <i class="fa-solid fa-arrow-right-long icon"></i>
      <i class="fa-solid fa-arrow-right-long icon"></i>
    </div>
  </div>
</div>
