<div
  #projectcard
  class="project-card"
  data-tilt
  data-tilt-reverse="true"
  data-tilt-max="1"
  data-tilt-speed="500"
  data-tilt-perspective="500"
  (mousemove)="handleMouseMove($event)"
>
  <div class="project-img">
    <img [src]="project.imageUrl" alt="{{ project.title }}" />
  </div>
  <div class="project-summary">
    <div class="project-title-category">
      <p class="category">{{ project.category }}</p>

      <h3 class="title">{{ project.title }}</h3>
    </div>
    <div class="details-arrow">
      <i class="fa-solid fa-arrow-right-long icon"></i>
      <i class="fa-solid fa-arrow-right-long icon"></i>
      <i class="fa-solid fa-arrow-right-long icon"></i>
    </div>
  </div>
  <div class="shine" #shine></div>
</div>
