.stack-container {
  height: 100vh;
}

.stacks {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 3rem 2rem 0;
}

.heading {
  padding: 2rem 0;
  color: var(--sp-light-90);
}
.stack {
  padding: 2rem 0;
}
.title {
  color: var(--sp-light-90);
  padding: 1rem 0;
  font-weight: 500;
  font-size: 1.1em;
}

.card-1 {
  /* padding: 0.8rem; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.card-1 img {
  width: 48px;
  height: 48px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.card {
  border-radius: 12px;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  /* background-color: var(--sp-dark-10); */
  width: 100%;
  transform-style: preserve-3d;
  background: linear-gradient(
    rgb(106 105 105 / 15%),
    rgba(255, 255, 255, 0.05)
  );

  backdrop-filter: blur(10px);
}

.stack-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stack-details .stack-title {
  font-size: 15pt;
  color: var(--sp-light-90);
  font-weight: bold;
  line-height: 1.5rem;
}

.stack-details .stack-description {
  font-size: 12pt;
  color: var(--sp-light-60);
  font-weight: 300;
  /* margin: 5px 0; */
}

.stack-details .use-for {
  color: var(--sp-light-60);
  font-size: 12pt;
  font-weight: 300;
}

h1 {
  letter-spacing: 1pt;
  font-size: 36pt;
  font-weight: 600;
  margin-bottom: 2rem;
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.heading,
.stack {
  animation: slideInFromBottom 1s ease-out;
}

.footer {
  padding: 2.5rem 0;
}
