.stack-container {
  /* display: grid; */
  grid-template-columns: auto 1fr;
  grid-template-areas: "Sidebar Stack";
  height: 100vh;
}

.stacks {
  grid-area: Stack;
  overflow-y: auto;
  padding: 2rem 2rem 0;
}

h1,
p {
  color: var(--sp-green-60);
}
