.footer-container {
  display: flex;
  gap: 2rem;
}

.footer-container p {
  color: var(--sp-gray-666);
  font-size: 12pt;
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.footer-container {
  animation: slideInFromBottom 2s ease-out;
}

@media only screen and (max-width: 767px) {
  .footer-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
