.sidenav-container {
  padding: 2rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.img-status {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}

img {
  width: 10rem;
  height: 10rem;
  border-radius: 12px;
  filter: grayscale(100%);
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 12px;
  width: inherit;
  padding: 0.5rem 0;
  color: var(--sp-green-60);
  background-color: var(--sp-green-10);
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--sp-green-60);
}

.status span {
  font-size: 14px;
  font-weight: 500;
}

.sidenav-container ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  gap: 0.5rem;
}

.sidenav-container ul li {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  color: var(--sp-light-60);
  cursor: pointer;
  gap: 1rem;
}

.sidenav-container ul li:hover {
  color: var(--sp-green-60);
}

.sidenav-container ul li .icon {
  width: 16px;
  margin-right: 12px;
}

.sidenav-container ul li p {
  font-size: 14pt;
  margin: 0;
}

.sidenav-container ul li.selected {
  border-radius: 12px;
  color: var(--sp-light-90);
  background-color: var(--sp-dark-10);
}

@media only screen and (min-width: 1025px) {
  .tablet-available {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .desktop-available {
    display: none;
  }
  .sidenav-container {
    padding: 1rem;
  }

  img {
    width: 8rem;
    height: 8rem;
  }
  .status {
    width: 8rem;
  }
}

@media only screen and (max-width: 767px) {
  .tablet-available {
    display: none;
  }
}
