.sidenav-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  padding: 2rem;
  gap: 4rem;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.img-status {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  flex-direction: column;
  width: 100%;
}

img {
  width: 10rem;
  height: 10rem;
  border-radius: 12px;
  filter: grayscale(100%);
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 12px;
  width: inherit;
  padding: 0.5rem 0;
  color: var(--sp-green-60);
  background-color: var(--sp-green-10);
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--sp-green-60);
}

.status span {
  font-size: 14px;
  font-weight: 500;
}

.sidenav-container ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  gap: 0.5rem;
}

.sidenav-container ul li {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  color: var(--sp-light-60);
  cursor: pointer;
  gap: 1rem;
  background-image: linear-gradient(
    90deg,
    transparent 50%,
    var(--sp-dark-10) 50%
  );
  background-size: 200% 100%;
  transition: background-position 0.3s ease-out, color 0.3s ease;
}

.sidenav-container ul li:hover {
  color: var(--sp-green-60);
}

.sidenav-container ul li .icon {
  width: 16px;
  transition: transform 0.3s ease;
  font-size: 10pt;
}

.sidenav-container ul li:hover .icon {
  transform: scale(1.5);
}

.sidenav-container ul li p {
  font-size: 10pt;
  margin: 0 0 0 12px;
}

.sidenav-container ul li.selected {
  border-radius: 12px;
  color: var(--sp-light-90);
  background-color: var(--sp-dark-10);
  background-position: 100% 0;
}

.sidenav-container ul li.selected .icon {
  transform: none;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: inherit;
  color: var(--sp-light-60);
}

.social-container .icon {
  color: var(--sp-light-60);
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: 14pt;
}

.social-container .icon:hover {
  transform: scale(1.2);
  color: var(--sp-green-60);
}

@media only screen and (min-width: 1025px) {
  .tablet-available {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .desktop-available {
    display: none;
  }
  .sidenav-container {
    padding: 1rem;
    gap: 1rem;
  }

  .sidebar {
    gap: 1rem;
  }

  img {
    width: 8rem;
    height: 8rem;
  }
  .status {
    width: 8rem;
  }

  .sidenav-container ul li p {
    display: none;
  }

  .sidenav-container ul {
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    margin-bottom: 0;
  }

  .sidenav-container ul li .icon {
    width: auto;
    font-size: 0.7rem;
  }

  .social-container {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.8rem;
    margin-bottom: 1rem;
  }

  .social-container .icon {
    font-size: 0.7rem;
    padding: 0.2rem;
  }
}

@media only screen and (max-width: 767px) {
  .tablet-available {
    display: none;
  }
}
