<div class="sidenav-container">
  <nav>
    <div class="img-status">
      <img src="../../../assets/images/Subhrangsu.jpg" alt="" />

      <div class="status">
        <div class="dot"></div>
        <!-- Tablet: Available -->
        <span class="tablet-available">Available</span>
        <!-- Desktop: Available for Work -->
        <span class="desktop-available">Available for Work</span>
      </div>
    </div>
    <ul>
      <li><a href="#">Link 1 Line 2 Line 3</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
    </ul>
  </nav>
</div>
